<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBciHE6G-aPYaXEUaUH1d89_-l1r1oxaGc</string>
	<key>GCM_SENDER_ID</key>
	<string>942025057583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mohachat.mohaChat</string>
	<key>PROJECT_ID</key>
	<string>mochat-5ebe2</string>
	<key>STORAGE_BUCKET</key>
	<string>mochat-5ebe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942025057583:ios:90d89b13693cfb47256dda</string>
</dict>
</plist>